[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugin.ipynb"]
	path = plugin.ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
